/* Uso de propiedades personalizadas de CSS
(variables) es buena practica siempre declararlae en el root
utilizar -- para empezar el nombre, las importamos con:
var(--nombre-que-declaramos) */

:root {
  --soft-red: hsl(10, 79%, 65%);
	--cyan: hsl(186, 34%, 60%);
	--dark-brown: hsl(25, 47%, 15%);
	--medium-brown: hsl(28, 10%, 53%);
	--cream: hsl(27, 66%, 92%);
	--very-pale-orange: hsl(33, 100%, 98%);
}